// color Scheme
$white          : #FFFFFF;
$platinum       : #E6E7E7;
$light-gray     : #D1D1D1;

$fuzzy-wuzzy    : #E56353;
$ruddy-pink     : #D76C69;
$spanish-pink   : #ECBCBA;

$eerie-black    : #121619;
$raisin-black   : #222323;
$nickel         : #6C6E70;

// ajuste radio del paginador
$pagination-border-radius: 20px;

// ajuste clase bootstrap - altura de la linea
$line-height-lg: 3;

// Colores nav
$navbar-dark-color: $white ;
$navbar-dark-hover-color: $nickel  ;
$navbar-dark-active-color:  $fuzzy-wuzzy ;