

.article__text{
    font-family: $roboto ;
    font-weight: $roboto-regular;
    color: $nickel;
}

.article__text-emphasis{
    font-family: $roboto ;
    font-weight: $roboto-light ;
    color: $fuzzy-wuzzy;
}